body {
  background-color: BLACK;
  color: WHITE;
}

.storageButton{
  margin-bottom: 5px;
}

.container{
  height: 400px;
  border: white 1px solid;
}

#container1 div{
  display: flex;
  border: 1px white solid;
  width: 400px;
}

#container1 {
  display: flex;
}

.container1Box {
  display: flex;
  flex-direction: column;
}
.costBox{
  border: transparent !important;
}
.displayBox{
  border: transparent !important;
  flex-grow: 2;
}
.buttonBox{
  border: transparent !important;
  display: flex;
  justify-content: flex-end;
}

.purchaseButton{
  margin-bottom: 5px;
  margin-right: 5px;
}
